# Mengunci file log lokal agar tidak bocor ke GitHub publik
*.log
*.txt
*.json
!appsscript.json

# Mengunci file log spesifik di dalam folder audit
04_LOG_SISTEM_FOLDER/*.log
04_LOG_SISTEM_FOLDER/*.txt
